<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <title>LivSpace | Interior Design </title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="Gym website, Bootstrap Theme, Freebies, UI Kit, MIT license">
    <meta name="description" content="Bootstrap 4 Template by WebThemez">
    <meta name="author" content="webthemez.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/slick-carousel/slick.css"> 
    <link rel="stylesheet" type="text/css" href="assets/fonts/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="assets/css/hovereffects.css"> 
    <!-- Theme Styles -->
    <link href="assets/css/scrolling-nav.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  </head>
  <!-- End Head -->

  <body>
    <!-- Header -->
    <header id="top">
      <%- include('../partials/header') %>
    </header>
    <!-- End Header -->

    <main role="main" class="mt-lg-5 m-0">
	
	<section class="wt-section" id="services">
        <div class="container">
		<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0">
            <h2 class="mb-md-2">Our Services</h2>
            <p class="lead text-muted">WenTo creative technology company providing key digital services for everyone.</p>
          </div>
		</div> 
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
              <div class="d-block mb-4">
                 <img src="assets/img/services/4.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Home Interior</h4>
              <p>Achieve virtually any look and layout design within one UI Kit solution.</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="200">
             <div class="d-block mb-4">
                 <img src="assets/img/services/1.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Custom Design</h4>
              <p>We strive to figure out ways to help your audience grow through all platforms.</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="300">
             <div class="d-block mb-4">
                 <img src="assets/img/services/5.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Business Interior</h4>
              <p>Find what you need in one template and combine features at will.</p>
            </div>
          </div> 

          <hr class="my-5"> 
		  
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="400">
             <div class="d-block mb-4">
                 <img src="assets/img/services/3.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Security Setup</h4>
              <p>Easy and fast adjustments of elements are possible with WenTo UI Kit.</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="500">
              <div class="d-block mb-4">
                 <img src="assets/img/services/6.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Custom Paint</h4>
              <p>Our React Powered App will save you tons of time and cost in your projects.</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="600">
              <div class="d-block mb-4">
                 <img src="assets/img/services/2.svg" width="85px" class="pr-4" alt="">  
              </div>
              <h4 class="h5">Home Decor</h4>
              <p>Power your app with Angular components for no cost within one stop solution.</p>
            </div>
          </div>
          <!-- End Feature Blocks -->
        </div>
      </section> 

  <section class="wt-section bg-light" id="about">
    <div class="container">
		<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0">
            <h2 class="mb-md-2">About Us</h2>
            <p class="lead text-muted">WenTo creative technology company providing key digital services for everyone.</p>
          </div>
		</div>
        <div class="row justify-content-between align-items-center" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="200">
		  <div class="col-md-5">
                <img src="assets/img/about/1.jpg" width="90%" class="rounded-md" alt="">
            </div>
            <div class="col-md-7"> 
                <h3 class="mb-4 ">Who We Are</h3>
                <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi fugiat!</p>
            </div>
          
        </div>
    </div>
</section> 

  <section class="wt-section">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="400">
            <div class="col-md-7"> 
                <h3 class="mb-4">Our Mission and Goals</h3>
                <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi fugiat!</p>
            </div>
          
		  <div class="col-md-5">
               <img src="assets/img/about/2.jpg" width="90%" class="rounded-md" alt="">
            </div>
        </div>
    </div>
</section> 
	<section class="wt-section bg-primary">
    <%- include('../partials/projects') %>
      </section>
	  
	   

<section class="wt-section" id="portfolio"> 
  <%- include('../partials/portfolio') %>
</section>	
	<div class="card bg-primary border-0 rounded-0 p-5">
    <div class="container">
        <div class="row justify-content-between align-items-center text-center text-md-left">
            <div class="col-md-8">
                <h5 class="mb-1 d-inline-block border-right border-sm-right-0 pr-md-4 mr-md-4">OFFER</h5>
                <p class="mb-0 d-inline-block">50% off on Annual subscription.. grab the deal before it go!</p>
            </div>
            <div class="col-md-4 text-lg-right mt-md-0 mt-3">
                <a href="#" class="btn btn-pill btn-outline-light">Subscribe</a>
            </div>
        </div>
    </div>
</div>
<section class="bg-light wt-section" id="team">
  <%- include('../partials/team') %>
      </section>
<div class="wt-section" id="price">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-lg-5 mb-4 pb-lg-5">
            <div class="col-md-12">
                <h2 class="h1">Price</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>
        <div class="row justify-content-center price-card"> 
            <div class="col-md-4">
                <div class="card text-center mb-md-0 mb-3" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="200">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Basic Plan</h5>
                            <h1>$120</h1> 
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled mt-3 price-options">
                            <li>- Basic Point One</li>
                            <li>- Basic Point Two</li>
                            <li>- Basic Point Three</li>
                            <li>- Basic Point Four</li>
                        </ul>
                        <a href="#" class="btn btn-pill btn-outline-primary mt-3">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-md-0 mb-3" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="300">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Silver Plan</h5>
                            <h1>$450</h1> 
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 price-options">
                            <li>- Silver Point One</li>
                            <li>- Silver Point Two</li>
                            <li>- Silver Point Three</li>
                            <li>- Silver Point Four</li>
                        </ul>
                        <a href="#" class="btn btn-pill btn-primary mt-3">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-md-0 mb-3" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="400">
                    <div class="card-body py-5">
                        <div class="pricing-header mb-5">
                            <h5 class="font-weight-normal mb-3">Gold Plan</h5>
                            <h1>$850</h1> 
                        </div>
                        <strong>Includes:</strong>
                        <ul class="list-unstyled lh-45 mt-3 price-options">
                            <li>- Gold Point One</li>
                            <li>- Gold Point Two</li>
                            <li>- Gold Point Three</li>
                            <li>- Gold Point Four</li>
                        </ul>
                        <a href="#" class="btn btn-pill btn-outline-primary mt-3">Buy Now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

 <section class="bg-dark position-relative pt-5">
        <div class="container">
          <div class="row text-center text-uppercase text-white">
            <div class="col-lg-3 col-sm-6 pb-5">
              <h5 class="js-counter display-4 mb-1">45</h5>
              <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Trainer</small>
            </div>

            <div class="col-lg-3 col-sm-6 pb-5">
              <h5 class="js-counter display-4 mb-1">114</h5>
              <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Equipments</small>
            </div>

            <div class="col-lg-3 col-sm-6 pb-5">
              <h5 class="js-counter display-4 mb-1">245</h5>
              <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Customers</small>
            </div>

            <div class="col-lg-3 col-sm-6 pb-5">
              <h5 class="js-counter display-4 mb-1">2</h5>
              <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Cafeteria</small>
            </div>
          </div>
        </div>
      </section>
<section class="wt-section">
  <%- include('../partials/testimonials') %>
      </section>	  
<section class="wt-section bg-light" id="contact">
<%- include('../partials/contact') %>
</section> 
      <!-- End Clients Section -->
    </main>

    <!-- Footer -->
    <footer class="bg-dark py-5">
      <%- include('../partials/footer') %>
    </footer>
    <!-- End Footer -->
  
    <!-- JS Script Files --> 
    <script src="assets/vendors/jquery.min.js"></script>
    <script src="assets/vendors/jquery.migrate.min.js"></script>
    <script src="assets/vendors/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendors/jquery-easing/jquery.easing.min.js"></script>

    <!-- Components Vendor  --> 
    <script src="assets/vendors/slick-carousel/slick.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/counters/waypoint.min.js"></script>
    <script src="assets/vendors/counters/counterup.min.js"></script>

	<script src="assets/contact/jqBootstrapValidation.js"></script>
	<script src="assets/contact/contact_me.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    <!--Plugin Initialize-->
    <script src="assets/js/global.js"></script>

    <!-- Theme Components and Settings --> 
    <script src="assets/vendors/carousel.js"></script>
    <script src="assets/vendors/counters.js"></script>
	
    <!-- END JAVASCRIPTS -->
	
  </body>
  <!-- End Body -->
</html>